/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --black : #101010;
    --black75 : #5C5759;
    --black50 : #928F90;
    --black25 : #C9C7C8;
    --black10 : #E9E9E9;

    --white : #F4F4F4;
    --green : #00AE52;
}
*{
    z-index: 3;
}
body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

#breadcrumb{
    padding-top: 10%;
}
#breadcrumb .breadcrumb .breadcrumb-item{
    color: var(--black);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
#breadcrumb .breadcrumb .breadcrumb-item a{
    text-decoration: none;
    color: var(--black25);
}
#hero .title h1{
    font-weight: 700;
    font-size: 42px;
    line-height: 63px;
    margin-top: 10px;
    color: var(--green);
}
#hero .title p{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-top: 5px;
    color: var(--black50);
    margin-bottom: 70px;
}
#hero .image-big img, #hero .image-sm img{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
#destination-desc{
    margin-top: 50px;
}
#destination-desc h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: var(--green);
}
#destination-desc h1 .sub-title{
    color: var(--black);
}
#destination-desc .detail-desc {
    width: 75%;
    margin-top: 50px;
}
#destination-desc .detail-desc p{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: var(--black50);
    text-align: center;
    margin-bottom: 15px;
}
#nearest-hotels{
    margin-top: 70px;
}
#nearest-hotels h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: var(--black);
    text-align: right;
}
#nearest-hotels h1 .sub-title{
    color: var(--green);
}
.owl-item .active::before{
    background-color: transparent !important;
}
.owl-nav, .owl-dots{
    display: none;
}
.owl-dots .active::before{
    background-color: transparent !important;
}
#nearest-hotels .item{
    margin: 0 20px;
}
#nearest-hotels .card{
    border: none;
}
#nearest-hotels .card img{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
